footer.jumbotron.jumbotron-fluid.ft_con_m {
    background: #9c1818;
    margin-top: 30px;
    color: white;
}

.t_d_ft {
    margin-bottom: 25px;
}

p.ft_con_info {
    text-align: justify;
}

.ft_con_dm div.mb-2 a.nav-link {
    margin-top: -28px;
    color: white;
    transition: 0.4s;
}

.ft_con_dm div.mb-2 a.nav-link:hover {
    margin-top: -28px;
    color: red;
}

.ft_con_dm div.mb-2:hover{
    transform: translateX(0px);
    transition: 0.4s;
}

.ft_con_dm div.mb-2:hover{
    transform: translateX(10px);
    color: red;
}