*{margin: 0; padding: 0;}

body{
    /* background: rgb(241, 229, 229); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.tab-bar{
    background-color: rgb(255, 240, 240) !important;
    /* padding-left: 130px!important;
    padding-right: 130px!important; */
    border-bottom: 1px solid thistle;
}

/* a.navbar-brand{
    font-weight: bold;
    font-size: 22px;
} */
a.text-decoration-none {
    text-decoration: none;
    color: black;
}

.fontweb li a{
    color: rgb(0, 0, 0) !important;
    transition: 0.4s;
}

.fontweb li a:hover{
    color: rgb(199, 3, 3) !important;
    transform: translateY(-5px);
}

form.frm_search {
    margin: 0 10px 0 0;
    width: 160px;
    margin-top: 5px;
}

input.form-control, .btn.btn-default {
    height: 30px;
}

button.btn.btn-default {
    line-height: 10px;
}

/*li:nth-child(n) {
    transform: translateX(130px);
}*/